
.jarallax {
  position: relative;
  z-index: 0;
  height: 970px;
}
.jarallax > .jarallax-img,
picture.jarallax-img img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* DONT PUT ANYTHING ABOUVE THIS COMMENT  */






@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');
.return{
  position: absolute;
  top: 230px;
  left: 500px;
  color: white;
  font-size: 90px;
  font-family: 'Mukta', sans-serif;
  -webkit-animation: glowBlueWhite 5s ease-in-out infinite alternate;
  -moz-animation: glowBlueWhite ease-in-out infinite alternate;
  animation: glowBlueWhite 5s ease-in-out infinite alternate;
}

.m-in-moon{
  font-size: 350px;
  color: #fff;
  text-align: center;
  -webkit-animation: glowBlueWhite 5s ease-in-out infinite alternate;
  -moz-animation: glowBlueWhite ease-in-out infinite alternate;
  animation: glowBlueWhite 5s ease-in-out infinite alternate;
  position: absolute;
  top: 260px;
  left: 25%;
  z-index: 10;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
}

.oon-in-moon{
  position: absolute;
  top:260px ;
  font-size: 350px;
  left: 800px;
  color: #fff;
  z-index: 10;
  -webkit-animation: glowBlueWhite 5s ease-in-out infinite alternate;
  -moz-animation: glowBlueWhite ease-in-out infinite alternate;
  animation: glowBlueWhite 5s ease-in-out infinite alternate;
  font-family: 'Mukta', sans-serif;
  font-weight: 800;
}

.e {
  position: absolute;
  top: 228px;
  left: 968px;
  color: white;
  font-size: 85px;
  z-index: 20;
  font-family: 'Mukta', sans-serif;
  -webkit-animation: glowYellow 5s ease-in-out infinite alternate;
  -moz-animation: glowYellow ease-in-out infinite alternate;
  animation: glowYellow 5s ease-in-out infinite alternate;
}

.to-the{
  position: absolute;
  top: 230px;
  left: 800px;
  color: white;
  font-size: 85px;
  z-index: 1;
  font-family: 'Mukta', sans-serif;
  -webkit-animation: glowYellow 5s ease-in-out infinite alternate;
  -moz-animation: glowYellow ease-in-out infinite alternate;
  animation: glowYellow 5s ease-in-out infinite alternate;
}
.end-of-moon{
  position: absolute;
  z-index: 1;
}
.astranught{
  position: absolute;
  top: 130px;
  left: 900px;
  z-index: 2;
  animation: moveUpDown 5s ease infinite;
}

.about-text{
  position: absolute;
  top: 650px;
  width: 800px;
  color: #fff;
  left: 500px;
  z-index: 10;
  font-family: 'Mukta', sans-serif;
}
.th-aniversity{
  position: absolute;
color: #fff;
font-size: 20px;
top: 230px;
left: 580px;
font-family: 'Mukta', sans-serif;
}

.share{
  position: absolute;
  top: 50%;
  width: 500px;
 
}

.schareBtn{
  width: 80px;
  height: 120px;
  font-size: 20px;
  writing-mode: vertical-rl; /* This rotates the text vertically */
  text-orientation: upright; /* Ensures the text remains upright */
  background-color: transparent;
  color: #fff;
  }

  .take-a-step-btn {
    color: #FFF;
    transition: all 0.5s;
    position: absolute; 
    top: 700px;
    right: 300px;
    width: 250px;
    height: 50px;
    z-index: 20;
    background-color: transparent;
  }
  .take-a-step-btn span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; 
  }
  .take-a-step-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .take-a-step-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(255,255,255,0.1);
  }
  .take-a-step-btn:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255,255,255,0);
  }
  .take-a-step-btn:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255,255,255,0);
  }

@-webkit-keyframes glowYellow {
  from {
    text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 18px #cbce1a, 0 0 24px #cbce1a, 0 0 30px #cbce1a, 0 0 36px #cbce1a, 0 0 42px #cbce1a;
  }
  to {
    text-shadow: 0 0 12px #fff, 0 0 18px #cbce1a, 0 0 24px #cbce1a, 0 0 30px #cbce1a, 0 0 36px #cbce1a, 0 0 42px #cbce1a, 0 0 48px #cbce1a;
  }
}
@-webkit-keyframes glowBlueWhite {
  from {
    text-shadow: 0 0 2px blue, 0 0 4px blue, 0 0 6px white, 0 0 8px white, 0 0 10px blue, 0 0 12px blue, 0 0 14px blue;
  }
  to {
    text-shadow: 0 0 4px blue, 0 0 6px blue, 0 0 8px white, 0 0 10px white, 0 0 12px blue, 0 0 14px blue, 0 0 16px blue;
  }
}
@keyframes moveUpDown {
  0% {
      transform: translateY(0); /* Start at the original position */
  }
  50% {
      transform: translateY(-10px); /* Move up by 10 pixels */
  }
  100% {
      transform: translateY(0); /* Return to the original position */
  }
}